a {
  text-decoration: none;
  color: $color-4;
}

h1,
h2 {
  font-family: "cormorant";
  color: $color-3;
  font-weight: 200;
}

h1 {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background: url("/assets/photos/plume2.webp") center/cover no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact p {
  padding : 20px
}

.contactcontent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.email,
.tel {
  width: 250px; /* ou une valeur qui va bien avec ton design */
  text-align: center;
}

.tel p{
  padding: 0px  !important;
  
}

.reseauContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px; /* espace entre les icônes */
  margin-top: 30px;
}

.social-icon {
  width: 40px;
  height: 40px;
  fill:rgb(198, 176, 156); /* ou une couleur plus neutre/douce si tu veux */
  transition: transform 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.infoContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logoContact {
  position: relative;
  width: 200px;
}


@media (min-width: 768px) {
  .contactcontent1 {
    margin: 20px;
  }

  .contactcontent2 {
    margin: 20px;
  }

  .reseauContent {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .contact {
    align-items: center;
  }
}
