.pregnancy-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 208, 190);
    font-family: "merri";
    padding: 20px;
    font-weight: 200;

  
    .pregnancy-image {
      text-align: center;
  
      img {
        width: 100%;
        border-radius: 20px;
      }
  
      .caption {
        margin-top: 10px;
        font-size: 14px;
        color: #a78c7b;
        text-align: center;
      }
    }
  
    .pregnancy-text {
      margin-top: 20px;
      text-align: center;
  
      h1 {
        font-size: 30px;
        margin-bottom: 10px;
        color: white !important;
        font-family: "dancing" !important;
        text-align: center;
      }
  
      .intro {
        font-size: 16px;
        margin-bottom: 15px;
      }
  
      .divider {
        font-size: 20px;
        margin: 10px 0;
      }
  
      p {
        margin-bottom: 10px;
        font-size: 15px;
      }
  
      .highlight {
        margin-top: 20px;
        font-size: 16px;
        color: white;
    
      }

        .highlight2 {
        margin-top: 20px;
        font-size: 16px;
        color: white;
    
      }
    }
    .pregnancy-image {
        width: 100%;
        max-width: 500px;
        text-align: center;
      
        .slick-slide img {
          width: 100%;
          height: auto;
          border-radius: 20px;
          object-fit: cover;
        }
      
        .caption {
          margin-top: 10px;
          font-size: 14px;
          color: #a78c7b;
        }
      
    
      }
  }
  // version tablette
  @media (min-width: 768px) {
    .pregnancy-section {
      .pregnancy-image {
        width: 100%;
        max-width: 500px;
        text-align: center;
      
        .slick-slide img {
          width: 100%;
          height: 600px;
          border-radius: 20px;
          object-fit: cover;
          object-position: top;
        }
      
        .caption {
          margin-top: 10px;
          font-size: 14px;
          color: #a78c7b;
        }
      }
    }
  }
  // Desktop version
  @media (min-width: 1024px) {
    .pregnancy-section {
      flex-direction: row;
      justify-content: center;
      padding: 40px;
      width: 100vw;
      height: 100vh;
  
      .pregnancy-image {
        margin-right: 70px;
  
        img {
          max-width: 650px;
        }
        .slick-slide img {
          width: 100%;
         height: 650px;
         object-position: top;
        
        }
  
        .caption {
          font-size: 16px;
        }
      }
  
      .pregnancy-text {
        max-width: 600px;
        height: 600px;
        text-align: center;
        margin-top: 40px;
        margin-top: 0;
  
        h1 {
          font-size: 70px;
          margin-bottom: 50px;
        }
  
        .intro,
        p {
          font-size: 16px;
        }

        .intro{
          margin-bottom: 40px; 
        }
        .gender {
          margin-bottom : 50px;
        }
        .highlight {
          font-size: 18px;
          margin-top: 50px;
        }
      }
    }
  }