@import "../settings";

.header {
  position: relative;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center top; /* ou "center 20%" si besoin */
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.slide img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
   
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo {
  filter: brightness(0.7); 
  align-self: flex-end;
  max-width: 120px;
  position: absolute;  /* 👈 nécessaire pour que top/right fonctionnent en mobile */
  top: 1rem;
  right: 1rem;
  height: auto;
  
}

.text h2 {
  color: #fff !important; /* priorité absolue */
  font-family: "raleway";
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  font-weight: 300 ;
  line-height: 1.4;
  font-size: 1.2rem;
}



/* TABLETTE */
@media (min-width: 768px) {
  .overlay {
    padding: 2rem 3rem;
  }

  .text h1,
  .text h2 {
    font-size: 1.6rem;
  }

  .logo {
    max-width: 300px;
  }
}


@media (min-width : 768px) {
  .logo{
    max-width: 200px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .overlay {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 4rem 5rem;
  }
  .header {
    height: 100vh;
  }

  .slide img {
    height: 100vh;
  }
  
  .special-position {
    object-position: center 5% !important;
  }

  .text {
    max-width: 50%;
    margin-bottom: 6rem; /* plus bas */
  }

  .logo {
    position: absolute;
    top: 1rem;
    right: 0rem;
    max-width: 300px;
  }
    .text h1,
    .text h2 {
      font-size: 2.2rem;
      line-height: 1.5;
    
  }
}
