@import "../settings";

.header {
    width: 100%;
    height: 700px;
    background: url('/assets/photos/headerKaro.webp') center 10% /cover no-repeat;
    position: relative; /* Permet de positionner les enfants */
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: flex-start; /* Aligne le texte à gauche */
    padding: 0 50px; /* Décale le texte de la gauche */
  }

 .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Ajuste l'opacité (0.1 à 0.5) */
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .logo {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 200px;
  }
  
  .header-text {
    position: absolute;
    bottom: 120px; /* distance depuis le bas */
    left: 20px;   /* distance depuis la gauche */
    color: white;
    font-family: "raleway";
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
    font-size: 30px;
  }
  .header-text1 {
    position: absolute;
    bottom: 40px; /* distance depuis le bas */
    left: 20px;   /* distance depuis la gauche */
    color: white;
    font-family: "raleway";
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
    font-size: 30px;
  }
  @media (min-width: 1025px) {
    .header-text {
      position: absolute;
      bottom: 120px; /* distance depuis le haut */
      left: 30%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 40px;
    }
    .header-text1 {
      position: absolute;
      bottom: 60px; /* distance depuis le haut */
      left: 30%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 40px;
    }
  .logo {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 400px;
  }
}