@import "../settings";

.hero{
  background: rgb(241, 241, 241);
  
}

.hero-content {
  width: 100%;
    padding: 10px;
}

.hero-title {
  color: $color-4;
  font-family: "cormorant";
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero-text {
  color: $color-4;
  font-family: "merri";
  font-weight: 200;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 5px;
}
.hero-text1 {
  color: $color-4;
  font-family: "merri";
  font-weight: 200;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 5px;
}

.heroImg {
  width: 100%;
}

/* version tablette */

@media (min-width: 1025px) {

  .Herocontent {
    padding-bottom: 40px;
  }

  .hero-title {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 40px;
  }

  .hero-text1 {
    margin-left: 400px;
    margin-bottom: 20px;
    padding-right: 50px;
    font-size: 20px;

  }

  .hero-text {
    margin-left: 400px;
    padding-right: 50px;
    font-size: 20px;
  }

  .heroImg {
    width: 100%;
    height: auto;
    object-fit: cover; /* ou 'contain', selon le rendu voulu */
  }
}
