@import "../settings";

.momentDeVie {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.momentDeVie1 {
  background-color: rgb(221, 208, 190);
}

.title-moment {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: $color-3;
  font-family: "cormorant";
  font-weight: 300;
  font-size: 40px;
}

.momentTitle {
    color:white !important;
}

.momentTitle2 {
  color:rgb(221, 208, 190) !important;
}
.content-moment {
  display: flex;
  flex-direction: column;
margin-bottom: 15px;

}

.moment img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 12%;
}

.moment h2 {
  font-family: "dancing";
  color:rgb(221, 208, 190);
  font-weight: 200;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 0;
  font-size: 30px;
}

@media (min-width: 768px) {
  .content-moment {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 50px;
  }
  .moment img {
    width: 150px;
    height: 225px;
    object-fit: cover;
  }
}

@media (min-width: 1025px) {
  .content-moment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .moment img {
    width: 220px;
  height: 330px;
    object-fit: cover;
  }

  .moment h2{
    font-size: 30px;
  }
}
