.tarif {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 208, 190);
}

.title-tarif {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: $color-3;
  font-family: "cormorant";
  font-weight: 300;
  font-size: 40px;
}

.tarifcontent {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.separator1 {
  padding: 20px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.separator2 {
  padding: 20px;
  border-bottom: 3px solid white;
}

.separator3 {
  padding: 20px;
  border-bottom: 3px solid white;
  margin-bottom: 20px;
}

.tarif img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.tarif h2 {
  font-family: "dancing";
  color: white;
  font-weight: 200;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 0;
}

p {
  color: rgb(102, 81, 53);
  text-align: center;
}

.text1 {
  margin-bottom: 20px !important;
}

.prix {
  color: white !important;
  text-align: center;
  margin-bottom: 20px;
}

.cartekdo {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "cormorant";
}

@media (min-width: 768px) {
  .content-tarif {
    display: flex;
    flex-direction: row;
    height: 500px;
  }

  

  .separator1 {
    border-top: none;
    border-bottom: none;
    border-left: 3px solid white;
    border-right: 3px solid white;
    height: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .separator2 {
    border-bottom: none;
    border-right: 3px solid white;
    height: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .separator3 {
    border-bottom: none;
    border-right: 3px solid white;
    height: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .tarif img {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

  p{
    text-align: justify;
  }

}

@media (min-width: 1025px) {
  .content-tarif {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .separator1 {
 
    padding-left: 50px;
    padding-right: 50px;
  }

  .separator2 {
  
    padding-left: 50px;
    padding-right: 50px;
  }

  .separator3 {
  
    padding-left: 50px;
    padding-right: 50px;
  }

  .tarif img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }

  .cartekdo {
    font-size: 40px;
    font-family: "cormorant";
  }
}
