@charset "UTF-8";
@font-face {
  font-family: "raleway";
  src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "dancing";
  src: url(../assets/fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "cormorant";
  src: url(../assets/fonts/Cormorant-VariableFont_wght.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../assets/fonts/Merriweather.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1025px) {
  body {
    min-width: 1025px;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }
}
@font-face {
  font-family: "raleway";
  src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "dancing";
  src: url(../assets/fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "cormorant";
  src: url(../assets/fonts/Cormorant-VariableFont_wght.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../assets/fonts/Merriweather.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1025px) {
  body {
    min-width: 1025px;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }
}
.header {
  width: 100%;
  height: 700px;
  background: url("/assets/photos/headerKaro.webp") center/cover no-repeat;
  position: relative; /* Permet de positionner les enfants */
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: flex-start; /* Aligne le texte à gauche */
  padding: 0 50px; /* Décale le texte de la gauche */
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Ajuste l'opacité (0.1 à 0.5) */
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.logo {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 200px;
}

.header-text {
  color: white;
  font-family: "raleway";
  text-transform: uppercase;
  font-weight: 200;
  font-size: 30px;
}

@font-face {
  font-family: "raleway";
  src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "dancing";
  src: url(../assets/fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "cormorant";
  src: url(../assets/fonts/Cormorant-VariableFont_wght.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../assets/fonts/Merriweather.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1025px) {
  body {
    min-width: 1025px;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }
}
.header {
  width: 100%;
  height: 700px;
  background: url("/src/assets/photos/banniereKaro.webp") center/cover no-repeat;
  position: relative; /* Permet de positionner les enfants */
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: flex-start; /* Aligne le texte à gauche */
  padding: 0 50px; /* Décale le texte de la gauche */
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Ajuste l'opacité (0.1 à 0.5) */
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.header-text {
  color: white;
  font-family: "dancing";
  font-weight: 200;
  font-size: 30px;
}/*# sourceMappingURL=index.css.map */